nav a {
  font-family: "Manrope";

  color: #757575;
}

.btn-apply {
  font-family: "Manrope";

  color: #ffffff;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}

a:hover {
  color: blueviolet;
}
